*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color:black;
    height: 120px;
    float: right;
    width: 100%;
    clear:both;
    
}
nav li{
    list-style: none;
    display: inline;
    padding: 20px;
    padding-left: 75px;

}
nav ul{
   padding-top: 40px;
    
}
nav a{
    width: 100px;
    text-decoration: none;
    font-family: arial;
    color: whitesmoke;
    text-align: center;text-transform: uppercase;
}
nav a:hover{
    border-bottom: solid 2px purple;
    transition: 0.55;

}
body{

    width: 100%;
    background-repeat: no-repeat;
    
}
.banner{
 font-size: 40px;
 color: white;
 text-align: center;
 /* margin-top: 20%; */
 background-image: url("https://i.pinimg.com/originals/fa/e1/5b/fae15b8b02bfac4a77baf9b921b79768.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}
.banner h2, h3, p{
    padding-top: 100px;
}
.container{
    clear: both;
    display: flex;
}
.banner h3{
    font-size: 80px;
}
#aboutme h3, p{
    text-align: center;
    font-size: 30px;
    font-weight: 80;
    
}
#aboutme p{
    padding-top: 80px;
}
#aboutme img{
    padding: 10px 15px;
}
#aboutme{
   display: flex;
}
.aboutme h2{
    text-align: center;
    text-decoration-line: underline;
}
.aboutme img{
    padding:10px 15px;
    float:right;
}
